<div class="flights-by-worker-container">
    <table mat-table [dataSource]="flightsData" class="mat-elevation-z8">
      
        <!-- Flight number Column -->
        <ng-container matColumnDef="num">
          <th mat-header-cell *matHeaderCellDef> Flight number </th>
          <td mat-cell *matCellDef="let element"> {{element.num}} </td>
        </ng-container>
      
        <!-- Origin Column -->
        <ng-container matColumnDef="from">
          <th mat-header-cell *matHeaderCellDef> Origin </th>
          <td mat-cell *matCellDef="let element"> {{element.from}} </td>
        </ng-container>
      
        <!-- Origin Date Column -->
        <ng-container matColumnDef="from_date">
          <th mat-header-cell *matHeaderCellDef> Origin Date </th>
          <td mat-cell *matCellDef="let element"> {{element.from_date}} </td>
        </ng-container>
      
        <!-- Destination Column -->
        <ng-container matColumnDef="to">
          <th mat-header-cell *matHeaderCellDef> Destination </th>
          <td mat-cell *matCellDef="let element"> {{element.to}} </td>
        </ng-container>

        <ng-container matColumnDef="to_date">
            <th mat-header-cell *matHeaderCellDef> Destination Date </th>
            <td mat-cell *matCellDef="let element"> {{element.to_date}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
        <tr 
            mat-row 
            *matRowDef="let row; columns: columnNames; let i=index"
            [ngClass]="{'row-selected':row.selected}"
            (click)='updateFlightInfo(row, i)'></tr>
      </table>
      
</div>